@page
@model ChangePasswordModel

<link rel="stylesheet" href="~/css/data_account.css">
<link rel="stylesheet" href="~/css/general_home.css">
   <section class="main_content">
        <nav class="navigation_account">
            <div id = "nav_title" class="nav_title">Мій акаунт</div>
            <div class="nav_items">
                <ul>
                    <a asp-controller="MyAccount" asp-action="Cart" ><li>Кошик</li></a>
                    <a asp-controller="MyAccount" asp-action="Orders" ><li>Мої замовлення</li></a>
                    <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" ><li>Дані облікового запису</li></a>
                    <a asp-controller="MyAccount" asp-action="Ads" ><li>Мої оголошення</li></a>
                </ul>
            </div>
        </nav>
        <div class="mine_block">
            <div class="location"><p><strong>Мій акаунт</strong></p><p>> Дані облікового запису</p></div>
            <h2>Дані облікового запису</h2>
            <form class="form" method="post">
                <h2>Змінити пароль</h2>
                <p>Поточний пароль</p>
                <input class = "input_txt" asp-for="Input.OldPassword">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                <p>Новий пароль</p>
                <input class = "input_txt"asp-for="Input.NewPassword">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>

                <p>Підтвердіть пароль</p>
                <input class = "input_txt"asp-for="Input.ConfirmPassword">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <input class = "input_btn" type="submit" value="Зберегти">
            </form>
        </div>     
    </section>


<partial name="_StatusMessage" for="StatusMessage" />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}