@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
body {
    background-color: #040918;
}

main {
    max-width: 1200px;
    margin: 50px 10px;
    letter-spacing: 0.08em;
    color: white;
    margin: 0 auto;
}

.content_rvrs,
.content {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.img_block {
    width: 45%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.text_block {
    width: 50%;
    display: flex;
    justify-content: center;
}

.title_txt_block {
    font-size: 35px;
    background: rgba(255, 255, 255, 0.04);
    margin-bottom: 5px;
}

.text_about {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.04);
    border: 2px solid rgba(41, 40, 40, 0.3);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.img_about {
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    border: 2px solid rgba(41, 40, 40, 0.3);
    padding: 10px;
}

@media only screen and (max-width:800px) {
    .content {
        flex-direction: column;
    }

    .content_rvrs {
        flex-direction: column-reverse;
    }

    .img_block {
        width: 100%;
    }

    .text_block {
        width: 100%;
    }
}
