@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
body {
    background-color: #040918;
    color: white;
}
.content {
    max-width: 1200px;
    padding: 27px 45px 29px 45px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 300px;
    background: #0E1321;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    gap: 7%;
}
.content_block {
    display: flex;
    flex-direction: column;
}
p, span {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.img_content {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 15px;
}
.content_block p:nth-child(3) {
    margin-bottom: 16px;
}
@media only screen and (max-width:800px) {
    .content {
        padding: 30px;
        border-radius: 0px;
        max-width: 100%;
        margin: 70px;
        display: flex;
        flex-direction: column;
    }
    .content_block {
        margin-bottom: 70px;
    }
    .img_content {
        width: 40%;
        height: auto;
    }
    p, span {
        font-size: 30px;
    }
}

@media only screen and (max-width:550px) {
    .content {
        margin: 20px;
        padding: 15px;
    }
    .img_content {
        width: 70%;
    }
}
