@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: #040918;
    font-family: Montserrat;
    color: white;
}
.wrapper {
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

hr {
    color: #161e33;
}



.img-control {
    width: 100%;
    height: 100%;
    background-color: #0e1321;
    border-radius: 10px 10px 0 0;
    padding: 15px 10px;
}

.desc {
    width: 100%;
    background-color: #0e1321;
    height: 215px;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
    padding: 15px 40px;
    text-align: center;
}

.price-and-order {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5px;
    justify-content: space-around;
    gap: 15px;
}

.order-btn {
    background-color: #4c2bee; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Montserrat;
    border-radius: 100px;
    /* margin-top: 20px; */
}

    .order-btn:hover {
        background-color: #4c2bee;
        box-shadow: 0 0 12px #563cd8;
        -moz-box-shadow: 0 0 12px #5b45ca;
        -o-box-shadow: 0 0 12px #5d40e9;
        -ms-box-shadow: 0 0 12px #5b41dd;
        -webkit-box-shadow: 0 0 12px #765cf5;
    }
/* основні стилі слайдера */

/* слайдер */
.slick-slider {
    min-width: 0;
}
/* обмежувальна оьолонка слайдера */
.slick-list {
    overflow: hidden;
}
/* стрічка слайдера*/
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide {
    
}
    /* активний слайд */
    .slick-slide.slick-active {
        height: 400px;
        width:100%;
    }
    /* основний */
    .slick-slide.slick-current {
    }
    /* Слайд по центру */
    .slick-slide.slick-center {
    }
    
/* Стрылка */
.slick-arrow {
    /*  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px; */
}
    /* стрілка вліво */
    .slick-arrow.slick-prev {
        left: 0;
        background-image: url(/img/sl-arrow_l.svg);
    }
    /* стрілка вправо */
    .slick-arrow.slick-next {
        right: 0;
        background: url(img/sl-arrow_r.svg);
    }
    /* неактивна стрілка */
    .slick-arrow.slick-disabled {
    }

/* Точки */
.slick-dots {
}

    .slick-dots li {
    }

    .slick-dots button {
    }

/* конкретний слайдер */
.slider {
    position: relative;
    padding: 0px 60px;
}

@media (max-width: 767px) {
    .slider {
        padding: 0px 40px;
    }
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

    .slider .slick-arrow.slick-prev {
        left: 0;
        background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-next {
        right: 0;
        background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
    }

    .slider .slick-arrow.slick-disabled {
        opacity: 0.2;
    }

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .slider .slick-dots li {
        list-style: none;
        margin: 0px 10px;
    }

    .slider .slick-dots button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
    }

    .slider .slick-dots li.slick-active button {
        background-color: transparent;
        border: 1px solid #fff;
    }

.slider__item {
    padding: 0px 15px;
   
}

    .slider__item img {
        max-width: 100%;
    }

    .slider__item.slick-center {
    }

/* 
slider */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    
}

    .slideshow-container img {
        height: 650px;
    }

/* спрятано відображення картинок по дефолту  */
.mySlides {
    display: none;
}

/* кнопки для слідующого/попереднього слайда */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* кнопка слідующого слайда(вправо) */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    */ .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.active:not(.menu),
.dot:hover {
    background-color: #717171;
}

/* анімація затінення при пириході слайдерпа */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
@media only screen and (max-width: 1900px) and (min-width: 1528px){
    .slick-slide.slick-active{
        height:328px;
    }
    .desc{
        height:171px;
    }
}
@media only screen and (max-width: 1279px) and (min-width: 932px) {
    .wrapper {
        width: 850px;
    }
    /* .mySlides img {
    height: 200px;
  } */
    .desc {
        height: 150px;
        padding: 15px 0;
    }

    .slideshow-container img {
        height: 450px;
    }
    /*footer response*/
    .slider-text {
        font-size: 14px;
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .social-media,
    .contacts,
    .payment-options {
        width: 45%;
    }

    .contacts {
        align-items: center;
    }

    .payment-options {
        text-align: center;
    }
    .slick-slide.slick-active {
        height: 210px;
        
    }
    
    
}

@media only screen and (max-width: 931px) and (min-width: 767px) {
    .wrapper {
        width: 720px;
    }

    .desc {
        height: 120px;
        padding: 15px 30px;
    }

    .slider-text {
        font-size: 10px;
    }

    .order-btn {
        padding: 5px 10px;
    }

    .slideshow-container img {
        height: 350px;
    }
    /*footer response*/
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .social-media,
    .contacts,
    .payment-options {
        width: 55%;
    }

    .contacts {
        align-items: center;
    }

    .payment-options {
        text-align: center;
    }
    .slick-slide.slick-active {
        height: 146px;
    }
}

    @media only screen and (max-width: 768px) and (min-width: 400px) {
        .wrapper {
            width: auto;
        }

        .desc {
            height: 120px;
            padding: 15px 0;
        }

        .slider-text {
            /*font-size: 30px;*/
        }

        .order-btn {
            padding: 5px 10px;
            width: 20vh;
            margin: 0 auto;
        }

        .slideshow-container img {
            height: 250px;
        }
        /*footer response*/
        .footer-text,
        .prefix {
            font-size: 16px;
        }

        .footer-container {
            flex-direction: column;
            align-items: center;
            gap: 55px;
        }

        .working-hours {
            display: flex;
            text-align: center;
        }

        .social-media,
        .contacts,
        .payment-options {
            width: 45%;
        }

        .contacts {
            align-items: center;
        }

        .payment-options,
        .footer-copyrigth {
            text-align: center;
        }

        .visa-wayforpray,
        .mastercard-privat {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .slick-slide.slick-active {
            height: 311px;
        }
    }
@media only screen and (max-width: 632px) and (min-width: 550px) {
    .slick-slide.slick-active {
        height: 254px;
    }
}
@media only screen and (max-width: 550px) {
    .slick-slide.slick-active {
        height: 457px;
    }
}
    @media only screen and (max-width: 400px) {
        .wrapper {
            width: 320px;
        }

        .slick-slide.slick-active {
            height: 240px;
        }

        .desc {
            height: 130px;
            padding: 15px 30px;
        }

        .slider-text {
            font-size: 10px;
        }

        .order-btn {
            padding: 5px 10px;
        }

        .slideshow-container img {
            height: 150px;
        }

        .footer-text,
        .prefix {
            font-size: 16px;
        }

        .footer-container {
            flex-direction: column;
            align-items: center;
            gap: 55px;
        }

        .working-hours {
            display: flex;
            text-align: center;
        }

        .social-media,
        .contacts,
        .payment-options {
            width: 65%;
        }

        .contacts {
            align-items: center;
        }

        .payment-options,
        .footer-copyrigth {
            text-align: center;
        }

        .visa-wayforpray,
        .mastercard-privat {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }

    @media (max-width: 767px) {
        .wrapper {
            padding: 50px 10px;
        }
    }



