@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: #040918;
    font-family: Montserrat;
    color: white;
}

.order-container {
    display: flex;
    justify-content: center;
}

.order-item {
    width: 1200px;
    background-color: #0e1321;
    padding: 7vh 9vh;
    display: flex;
}

.product-image {
    background-color: white;
    width: 45%;
    height: 100%;
}

img {
    width: 50%;
    height: 100%;
}

.product-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:40px ;
    padding-left: 25px;
}

.price {
    font-size: 30px;
    background-color: #1a2b34;
    padding: 10px 0;
    border-radius: 100px;
    width: 40%;
    text-align: center;
}

/* 
/////////////////// POPUP*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    ;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.2s ease 0s;
}

    .popup:target {
        opacity: 1;
        visibility: visible;
    }

        .popup:target .popup-content {
            transform: translate(0px,0px);
            opacity: 1;
        }

.area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup-body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.popup-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    opacity: 0;
    transition: all 0.5s ease 0s;
    transform: translate(0px,-100%);
}

.modal-close {
    background-image: url(img/modal_close_button.png);
    width: 52px;
    height: 52px;
    margin-left: auto;
}

.main-container {
    background-color: white;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}

.popup-text {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    gap: 15px;
}

.main-container img {
    width: 100%;
}

.size-chart {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #2e5f79;
    ;
    color: white;
    border-radius: 100px;
    padding: 10px 15px;
}

    .size-chart:hover {
        background-color: #4c2bee;
        box-shadow: 0 0 12px #563cd8;
        -moz-box-shadow: 0 0 12px #5b45ca;
        -o-box-shadow: 0 0 12px #5d40e9;
        -ms-box-shadow: 0 0 12px #5b41dd;
        -webkit-box-shadow: 0 0 12px #765cf5;
    }



.sizes {
    accent-color: #4c2bee;
}

.countOf {
    width: 13%;
    padding: 15px;
    border-radius: 10px;
    background-color: #1a2b34;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

    .countOf:hover {
        background-color: #243c49;
        transition: 0.3s ease;
    }

.my-form {
    display: flex;
    gap: 15px;
}

.counter {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.plus, .minus {
    padding: 15px;
    background-color: #4c2bee;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
}

.hov:hover {
    background-color: #5037cd;
    transition: 0.3s ease;
}

.to-order-button button {
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #4c2bee;
    color: white;
    border-radius: 100px;
    padding: 10px 15px;
}

    .to-order-button button:hover {
        background-color: #4c2bee;
        box-shadow: 0 0 12px #563cd8;
        -moz-box-shadow: 0 0 12px #5b45ca;
        -o-box-shadow: 0 0 12px #5d40e9;
        -ms-box-shadow: 0 0 12px #5b41dd;
        -webkit-box-shadow: 0 0 12px #765cf5;
    }

.count-of-product-and-order-button {
    margin-top: -20px;
}
