@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: #040918;
    font-family: Montserrat;
    color: white;
    
}

.sign-btn {
    background-color: #4c2bee;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Montserrat;
    border-radius: 100px;
    /* margin-top: 20px; */
}

    .sign-btn:hover {
        background-color: #4c2bee;
        box-shadow: 0 0 12px #563cd8;
        -moz-box-shadow: 0 0 12px #5b45ca;
        -o-box-shadow: 0 0 12px #5d40e9;
        -ms-box-shadow: 0 0 12px #5b41dd;
        -webkit-box-shadow: 0 0 12px #765cf5;
    }

.register {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #0e1321;
    margin: 50px auto;
    align-items:center;
    border-radius: 10px;
    width:30%;
    padding:40px;
}
.register >form{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;
}
form > input {
    width: 90%;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}