.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.search-item {
    margin-top: 20px;
    background-color: #171f36;
    border-radius: 10px;
}

.search-img-control img {
    width: 300px;
}

.search-desc {
    width: 100%;
    background-color: #0e1321;
    height: 150px;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    padding: 15px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-btn {
    background-color: #4c2bee; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Montserrat;
    border-radius: 100px;
    /* margin-top: 20px; */
}

    .order-btn:hover {
        background-color: #4c2bee;
        box-shadow: 0 0 12px #563cd8;
        -moz-box-shadow: 0 0 12px #5b45ca;
        -o-box-shadow: 0 0 12px #5d40e9;
        -ms-box-shadow: 0 0 12px #5b41dd;
        -webkit-box-shadow: 0 0 12px #765cf5;
    }
