@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background: #040918;
    font-family: Montserrat;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

nav {
    background: #0e1321;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}

.menu,
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.search {
    margin-top: 13px;
}

    .search .site-surf {
        border-radius: 6px;
        border: 0px;
        height: 25px;
        /* width: 460px; */
    }
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
.item {
    padding: 15px 10px;
}

    .item.button {
        padding: 9px 5px;
    }

.btn {
    border-radius: 100px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
    transition: 0.3s ease;
}

.item button:hover::after {
    color: #ccc;
    transition: 0.3s ease;
}
/* Mobile menu */
.search {
    margin: 13px auto;
}
.logotype {
    width: 50px;
    height: 50px;
    background-image: url(/img/logo.png);
    border-radius: 100px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

    .menu li a:not(.logo) {
        display: block;
        padding: 15px 5px;
    }

    .menu .logo {
        padding-top: 0;
    }

    .menu li.subitem a {
        padding: 15px;
    }

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
    transition: 0.3s ease-in-out;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu {
    cursor: pointer;
}

    .has-submenu i {
        font-size: 12px;
    }

    .has-submenu > a::after {
        font-family: "Font Awesome 5 Free";
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";
        color: white;
        padding-left: 5px;
    }

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }

    .logo:not(.itm) {
        flex: 0.7;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }

    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }

    .button.secondary {
        border: 0;
    }

        .button.secondary a {
            background: transparent;
            border: 1px #0080ff solid;
        }

        .button.secondary button {
            background: transparent;
            border: 1px #0080ff solid;
            color: white;
            font-size: 16px;
            height:40px;
            width:95px;
        }

    .button a:hover {
        text-decoration: none;
    }

    .button button:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: rgb(41, 91, 240);
        transition: 0.3s ease;
    }

    .button:not(.secondary) button:hover {
        background: rgb(41, 91, 240);
        transition: 0.3s ease;
    }
}
/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .button {
        order: 2;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }
}

.button:hover {
    color: #7d90a3;
}

.submenu {
    border-radius: 0 10px 10px 10px;
    width: 100%;
}

.item .has-submenu .submenu-active {
    position: fixed;
    z-index: 100;
}

.submenu-active {
    border-radius: 10px;
}

.mySlides img {
    position: relative;
    z-index: -10;
}
/* SLIDER */
/* FOOTER*/
.footer-container {
    width: 100%;
    /* box-sizing: border-box; */
    background-color: #0e1321;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}

.social-media {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2vh;
}

.footer-shop-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyrigth {
    display: flex;
    justify-content: center;
}

.logo-name {
    margin: 0 auto;
    display: flex;
}

.fab {
    color: white;
    font-size: 4vh;
    cursor: pointer;
}

.social-media-items {
    display: flex;
    justify-content: space-evenly;
}

.contacts {
    width: 20%;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.prefix {
    color: #979696;
}

.payment-options {
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.visa-wayforpray {
    display: flex;
    justify-content: space-around;
}

    .visa-wayforpray img {
        width: 15vh;
        height: 2vh;
        margin: auto 0;
        filter: brightness(55);
    }

.mastercard-privat {
    display: flex;
    justify-content: space-around;
}

    .mastercard-privat img {
        height: 9vh;
    }

@media only screen and (max-width: 1279px) and (min-width: 932px) {
    .wrapper {
        width: 850px;
    }
    /* .mySlides img {
    height: 200px;
  } */
    .desc {
        height: 150px;
        padding: 15px 30px;
    }

    .slideshow-container img {
        height: 450px;
    }
    /*footer response*/
    .slider-text {
        font-size: 14px;
    }

    .order-btn {
        padding: 5px 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .social-media,
    .contacts,
    .payment-options {
        width: 45%;
    }

    .contacts {
        align-items: center;
    }

    .payment-options {
        text-align: center;
    }
}

@media only screen and (max-width: 932px) and (min-width: 769px) {
    .wrapper {
        width: 720px;
    }

    .desc {
        height: 120px;
        padding: 15px 30px;
    }

    .slider-text {
        font-size: 10px;
    }

    .order-btn {
        padding: 5px 10px;
    }

    .slideshow-container img {
        height: 350px;
    }
    /*footer response*/
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .social-media,
    .contacts,
    .payment-options {
        width: 55%;
    }

    .contacts {
        align-items: center;
    }

    .payment-options {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
    .wrapper {
        width: auto;
    }

    .desc {
        height: 120px;
        padding: 15px 50px;
    }

    .slider-text {
        font-size: 10px;
    }

    .order-btn {
        padding: 5px 10px;
        width: 10vh;
        margin: 0 auto;
    }

    .slideshow-container img {
        height: 250px;
    }
    /*footer response*/
    .footer-text,
    .prefix {
        font-size: 16px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .working-hours {
        display: flex;
        text-align: center;
    }

    .social-media,
    .contacts,
    .payment-options {
        width: 45%;
    }

    .contacts {
        align-items: center;
    }

    .payment-options,
    .footer-copyrigth {
        text-align: center;
    }

    .visa-wayforpray,
    .mastercard-privat {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .wrapper {
        width: 320px;
    }

    .desc {
        height: 130px;
        padding: 15px 30px;
    }

    .slider-text {
        font-size: 10px;
    }

    .order-btn {
        padding: 5px 10px;
    }

    .slideshow-container img {
        height: 150px;
    }

    .footer-text,
    .prefix {
        font-size: 16px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 55px;
    }

    .working-hours {
        display: flex;
        text-align: center;
    }

    .social-media,
    .contacts,
    .payment-options {
        width: 65%;
    }

    .contacts {
        align-items: center;
    }

    .payment-options,
    .footer-copyrigth {
        text-align: center;
    }

    .visa-wayforpray,
    .mastercard-privat {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        padding: 50px 10px;
    }
}
/* ///////////////////// */



/*myacc styles*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.order_info{
    margin-top:10px;
}

.form, .order_info, .goods, .main_content, .final_price, .location, .about_goods, .quantity_goods, .trash_price, .final_price div, .block_promcode, .block_promcode form {
    display: flex
}

    .form, .final_price, .about_goods, .trash_price, .block_promcode, .block_promcode form {
        flex-direction: column
    }

.form {
    margin: 20px 0 0px
}

.input_txt, .form_prom {
    height: 30px;
    padding-left: 10px
}

.input_txt, .btn_condition, .navigation_account, .goods h2 {
    font-size: 16px
}

.input_txt, .input_btn, .form_btn, .btn_condition, a, .main_content, .quantity_goods button, .form_prom, .final_price button {
    color: white
}

.input_txt, .order_block, .goods, .navigation_account, .final_price {
    background-color: rgba(255,255,255,0.04)
}

.input_txt, .order_block, .goods, .navigation_account, .final_price, .quantity_goods {
    border: 2px solid rgba(41,40,40,0.3)
}

.input_txt {
    margin-bottom: 20px
}

.form h2, .form_btn, .btn_condition, .navigation_account li, .location, .goods p, .quantity_goods, .trash_price {
    margin-bottom: 10px
}

.form p {
    margin-bottom: 5px
}

.input_btn {
    margin: 0 auto;
    font-size: 18px;
    padding: 10px 60px
}

.input_btn, .form_btn, .nav_title, .quantity_goods button, .trash_price button, .final_price button {
    cursor: pointer
}

.input_btn, .form_btn, .final_price, .final_price button {
    text-transform: uppercase
}

    .input_btn, .form_btn, .btn_condition, .final_price button, .form_btn:hover, .btn_condition:hover, .final_price button:hover, .input_btn:hover {
        background-color: #4c2bee
    }

    .input_btn, .form_btn, .btn_condition, .quantity_goods button, .trash_price button, .final_price button {
        border: none
    }

    .input_btn, .form_btn, .btn_condition, .empty_block, .quantity_goods, .final_price button {
        text-align: center
    }

    .input_btn, .form_btn, .btn_condition, a, .final_price button {
        text-decoration: none
    }

    .input_btn, .form_btn, .btn_condition, .final_price button {
        border-radius: 100px
    }

.mine_block {
    padding: 0 40px;
    width: 50%;
    margin: 60px 30px 0
}

.pusto {
    width: 15%
}

.order_block {
    padding: 10px;
    margin-top: 30px
}

.main_content {
    padding: 10px;
    margin-top: 50px;
    letter-spacing: 0.8px;
    max-width: 1200px
}

.price_info, .main_content {
    margin-right: auto
}

.goods {
    width: 100%;
    margin-top: 15px;
    height: 200px
}

.image_blockk img {
    width: 100%;
    height: 100%
}

.goods, .navigation_account, .final_price {
    border-radius: 10px
}

.form_btn {
    margin-top: 8px;
    padding: 10px 30px;
    font-size: 11px
}

.btn_condition {
    padding: 10px 5px;
    max-width: 200px
}

.btn_condition, .quantity_goods, .trash_price p {
    margin-top: auto
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif
}

body {
    background-color: #040918
}

.inpt, .form_prom {
    outline: none
}

.main_content, .trash_price, .trash_price button, .price_right, .data_info {
    margin-left: auto
}

.navigation_account {
    width: 25%;
    margin-top: 60px;
    padding: 30px
}

.final_price {
    width: 25%;
    margin-top: 60px;
    padding: 30px;
    font-size: 13px
}

.navigation_account, .final_price {
    height: max-content
}

    .final_price button {
        font-size: 13px;
        line-height: 3.08
    }

    .navigation_account ul {
        margin: 10px 0 0px 35px
    }

    .navigation_account li {
        list-style: none
    }

        .navigation_account li:hover {
            text-decoration: underline
        }

.nav_title {
    position: relative;
    padding: 0 0 0px 24px
}

    .nav_title::before {
        content: '';
        width: 10px;
        height: 1px;
        position: absolute;
        top: 8px;
        left: 0
    }

    .nav_title::after {
        content: '';
        width: 10px;
        height: 1px;
        position: absolute;
        top: 8px;
        left: 8px
    }

    .nav_title::before, .nav_title::after {
        background-color: white
    }

    .nav_title::before, .nav_title.active:after {
        transform: rotate(-40deg)
    }

    .nav_title::after, .nav_title.active:before {
        transform: rotate(40deg)
    }

.location p {
    color: #949393;
    margin-right: 6px
}

.location p, .goods p {
    font-size: 14px
}

.goods img {
    height: 100%;
    width: 150px;
    object-fit: cover
}

.about_goods {
    margin: 10px 0 0px 10px
}

.empty_block {
    font-size: 25px;
    margin: 50px 0
}

.goods h2 {
    margin-bottom: 15px
}

.quantity_goods, .block_promcode, .block_promcode form {
    align-items: center;
    justify-content: center
}

.quantity_goods {
    max-width: max-content
}

    .quantity_goods p {
        font-size: 17px;
        margin: 5px
    }

.invisibleP {
    font-size: 0px;
    width: 0px;
    height: 0px;
}

    .quantity_goods button {
        font-size: 32px;
        width: 35px;
        height: 35px;
        opacity: .20
    }

    .quantity_goods button, .form_prom {
        background: transparent
    }

.trash_price img {
    width: 18px;
    height: auto;
    background-color: rgba(255,255,255,0)
}

.trash_price button {
    background: url(images/sump.png)center center / 15px 15px no-repeat;
    width: 15px;
    height: 15px;
    margin: 10px
}

.trash_price p {
    margin: 10px
}

.trash_price button:hover {
    background: url(images/sump_hover.png)center center / 15px 15px no-repeat
}

.final_price div {
    margin: 10px 0
}

.prom_p {
    margin-top: 20px
}

.form_prom {
    border: 1px solid rgba(83,83,83,0.9);
    max-width: 155px
}

.form_btn:hover, .btn_condition:hover, .final_price button:hover, .input_btn:hover {
    box-shadow: 0 0 12px #563cd8;
    -moz-box-shadow: 0 0 12px #5b45ca;
    -o-box-shadow: 0 0 12px #5d40e9;
    -ms-box-shadow: 0 0 12px #5b41dd;
    -webkit-box-shadow: 0 0 12px #765cf5
}

@media only screen and (max-width:1279px) {
    .mine_block {
        width: 70%
    }

    .block_promcode form {
        display: flex;
        align-items: center
    }

    .block_promcode {
        display: flex;
        align-items: center
    }

        .block_promcode form, .block_promcode {
            justify-content: center;
            flex-direction: column
        }

    .navigation_account {
        padding: 10px
    }

    .final_price {
        padding: 10px
    }
}

.items-center {
    text-align: center;
}

@media only screen and (max-width:880px) {
    .nav_title::before {
        transform: rotate(40deg);
        left: 0
    }

    .nav_title::after, .nav_title.active:before {
        transform: rotate(-40deg)
    }

    .nav_title::after {
        left: 8px
    }

    .nav_title.active:after {
        transform: rotate(+40deg)
    }

    .mine_block {
        margin: 20px auto 10px;
        padding: 0 50px;
        width: 90%;
        margin-bottom: 10px;
        margin-top: 20px
    }

    .final_price {
        width: 90%;
        padding: 10px
    }

    .mine_block, .navigation_account, .final_price {
        margin-left: auto;
        margin-right: auto
    }

    .navigation_account {
        margin: 0 auto;
        width: max-content;
        display: flex;
        text-align: center;
        align-items: center
    }

    .final_price button {
        margin: 0 auto;
        width: 70%
    }

    .main_content {
        display: flex
    }

    .navigation_account, .main_content {
        flex-direction: column
    }

    .nav_items {
        display: none
    }

    .navigation_account ul {
        margin: 10px 0 0px
    }

    .nav_title {
        margin-right: 24px
    }
}

@media only screen and (max-width:550px) {
    .input_btn {
        padding: 10px 40px
    }

    .btn_condition {
        margin: 0 auto;
        margin-bottom: 10px
    }

    .mine_block {
        padding: 0 10px;
        width: 97%
    }

    .final_price {
        width: 97%
    }

    .goods img {
        width: 100%
    }

    .trash_price, .about_goods, .goods {
        display: flex
    }

    .trash_price {
        flex-direction: row-reverse;
        margin: 0
    }

    h2 {
        font-size: 20px
    }

    .about_goods, .goods {
        flex-direction: column;
        height: auto
    }
}

@media only screen and (max-width:300px) {
    .input_txt {
        font-size: 14px
    }

    .mine_block {
        padding: 0 5px
    }

    .location {
        flex-direction: column
    }
}

@media only screen and (max-width:350px) {
    .location {
        flex-direction: column
    }
}

@media only screen and (max-width:190px) {
    .location {
        flex-direction: column
    }
}

/*RESPONSIVE*/

