@page
@model RegisterModel

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    
<div class="register" >
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <p class="create-account">Створити акаунт</p>
                    <input class="input1" asp-for="Input.Email" placeholder="Пошта">
                    <input class="input2" asp-for="Input.Password" placeholder="Пароль">
                    <input class="input3"asp-for="Input.ConfirmPassword" placeholder="Повторіть пароль">
                    <div class="items-center" >
                          <button  type="submit" class="sign-btn">Зареєструватись</button>
                    </div>
    </form>
        <ul class="log_in">
            <li><a class="log-in"asp-area="Identity" asp-page="/Account/Login">Увійти?</a></li>
        </ul>
    
</div>


  



