<section class="main_content">
        
        <nav class="navigation_account">
            <div id = "nav_title" class="nav_title">Мій акаунт</div>
            <div class="nav_items">
                <ul>
                      <a asp-controller="MyAccount" asp-action="Cart" ><li>Кошик</li></a>
                    <a asp-controller="MyAccount" asp-action="Orders" ><li>Мої замовлення</li></a>
                    <a href="data_account/data_accout.html"><li>Дані облікового запису</li></a>
                    <a href="my_sales/my_sales.html"><li>Мої оголошення</li></a>
                </ul>
            </div>
        </nav>

        <div class="mine_block">
            <div class="location"><p><strong>Мій акаунт</strong></p><p>> Кошик</p></div>
            <h2>Кошик</h2>       
            <div class="empty_block">
                <p>ВАШ КОШИК ПУСТИЙ</p>
                <button class="form_btn"><strong><a asp-controller="Home" asp-action="Index" >НА ГОЛОВНУ</a></strong></button>
            </div>
            <div class="cart_wrapper">
                <div class="goods_block"><!-- товар -->
                    <div class="goods">
                        <img src="images/week7_1100.jpg" alt="goods">
                        <div class = "about_goods">
                            <h2>Футболка regular із рослинним мотивом</h2>
                            <p>Колір: темно-синій</p>
                            <p>Розмір: M I UA 48-50</p>
                            <div class="quantity_goods">  
                                <button id="minus" data-action="minus">-</button>  
                                <p id="amount" data-counter>1</p>         
                                <button id="plus" data-action="plus">+</button>  
                            </div>
                        </div>
                        <div class="trash_price">
                            <button data-action = "to_trash"></button>
                            <p><span id = "price" class="pricee">1000</span>грн</p>
                        </div>
                    </div>         
                </div> 
                <div class="goods_block"><!-- товар -->
                    <div class="goods">
                        <img src="images/t-shirt.png" alt="goods">
                        <div class = "about_goods">
                            <h2>Футболка regular із рослинним мотивом</h2>
                            <p>Колір: темно-синій</p>
                            <p>Розмір: M I UA 48-50</p>
                            <div class="quantity_goods">  
                                <button id="minus" data-action="minus">-</button>  
                                <p id="amount" data-counter>1</p>         
                                <button id="plus" data-action="plus">+</button>  
                            </div>
                        </div>
                        <div class="trash_price">
                            <button data-action = "to_trash"></button>
                            <p><span id = "price" class="pricee">1000</span>грн</p>
                        </div>
                    </div>         
                </div>   
            </div>   
        </div>     
        <div class="final_price">
            <div><p>Ціна товарів</p>
                <p class="price_right"><span class="total_price">0</span>грн</p>
            </div>
            <div>
                <p>Ціна доставки</p>
                <p class="price_right"><span class="dev_price">0</span><p class="currency">грн</p></p>
            </div>
            <hr>
            <div>
                <p>Загальна сума</p>
                <p class="price_right"><span class="all_price" span>0</span>грн</p>
            </div>   
            <button>Оформити</button>   
            <div class="block_promcode">
                <p class="prom_p">У МЕНЕ Є ПРОМКОД</p>
                <div>
                    <form>
                        <input class = "form_prom" type="text" name="" id="" placeholder="Введіть код">
                        <input class = "form_btn" type="button" name="" id="" value="ДОДАТИ">
                    </form>
                </div>  
            </div>  
            </div>  
        </div>
    </section>