<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="content">
            <div class="img_block"></div>
            <div class="text_block"></div>
        </div>
        <div class="content">
            <div class="text_block">
                <div class="text_about">
                    <h2 class="title_txt_block">БРЕНД</h2>
                    <p>
                        Наша історія починається в далекому 2010 році.
                        Саме тоді нас надихнув дух змін кінця ХХ століття, з якого починається справжня
                        культурна революція. Цінності нашого бренду народилися на пострадянському
                        просторі в маленькому містечку. Ми поєднуємо тренди наймодніших клубів Лондона
                        та Парижа з вуличним стилем. У культурі сучасної української моди свобода думки
                        і стилю доступна кожному. Gati – мультикультурне об’єднання молодих людей, які
                        щодня змінюють світ. Ми вивчаємо модні тенденції та аналізуємо ринок з метою
                        популяризації культури різних напрямків і стилів серед звичайних людей. Адже мода
                        не тільки на дахах дорогих ресторанів мегаполісів, а й у кожному передмісті.
                    </p>
                </div>
            </div>
            <div class="img_block">
                <img class="img_about" src="img/image1.jpg" alt="">
            </div>
        </div>
        <div class="content_rvrs">
            <div class="img_block">
                <img class="img_about" src="img/image3.jpg" alt="">
            </div>
            <div class="text_block">
                <div class="text_about">
                    <h2 class="title_txt_block">КОНЦЕПТ</h2>
                    <p>
                        Тенденції будинків моди, нові течії в суспільстві,
                        новини світу мистецтва і музики. Люди, які не бояться
                        експерементувати, руйнувати стереотипи та одягатися стильно.
                        Все це надихає нас створювати якісний екологічний продукт в співпраці з
                        нашими користувачами.
                    </p>
                    <p>
                        В нашому онлайн магазины завжди мешкають тренди та новинки моди.
                        З кожним роком ми розвиваємо рух зелених в Україні.
                        Наша компанія повністю відмовилась від викорстання газу та перейшла
                        на відновлювальні джерела енергії. Щороку
                        ми збільшуємо частку використання еко сировини та
                        матеріалів, які розкладаються природнім шляхом.
                        Завдяки сучасній голанській системі очистки
                        води від нашого виробництва не страждає жодна водойма України.
                    </p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="text_block">
                <div class="text_about">
                    <h2 class="title_txt_block">НАША ІСТОРІЯ</h2>
                    <h3>2010</h3>
                    <p>
                        Зародження мрії, ідеї та концепту посеред розмаїття сільских будинків,
                        коврів на стінах та щасливої дітвори в дворах.
                    </p>
                    <h3>2013</h3>
                    <p>
                        Налагодження торгових зв'язків з Польщею.
                        Забезпечення тогочасного пострадянського суспільства модними тенденціями.
                    </p>
                    <h3>2016</h3>
                    <p>
                        Перші вагомі кроки до здійснення ще такої далекої, але крилатої мрії.
                        Купівля першої маленької, проте власної швейної фабрики.
                    </p>
                    <h3>2019</h3>
                    <p>
                        Швейного виробництва тепер замало, розширення горизонтів трикотажним виробництвом. Перші поїздки
                        до майбутніх німецьких партнерів, початок міжнародної співпраці.
                    </p>
                    <h3>2022</h3>
                    <p>
                        Відкриття онлайн магазину, де продавати можемо не тільки ми,
                        а і наші клієнти.
                    </p>
                </div>
            </div>
            <div class="img_block">
                <img class="img_about" src="img/image2.jpg" alt="">
            </div>
        </div>
    </main>
</body>
</html>