
        <a asp-controller="Admin" asp-action="CreatePromocode" ><button class="order-btn slider-text">
                Створити промокод 
              </button></a>
        <br />
         <br />
          <br />
           <br />
          <a asp-controller="Admin" asp-action="Statistics" ><button class="order-btn slider-text">
                Статистика продаж
              </button></a>


              <style>
                .order-btn {
                background-color: #4c2bee;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                font-family: Montserrat;
                border-radius: 100px;
               
            }</style>