<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clothes_Store</title>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/admin_statistics.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="content_block">
            <p>Загальна кількість потрачених грошей</p>
            <img class="img_content_1 img_content" src="img/money.png" alt="money_ico">
            <p>|</p>
            <p>10000 грн</p>
        </div>
        <div class="content_block">
            <p>Топ 3 популярних товарів</p>
            <img class="img_content_2 img_content" src="img/hanger.png" alt="hanger_ico">
            <p>|</p>
            <div class="list">
                <p>1. <span>Блузка</span></p>
                <p>2. <span>Джинси</span></p>
                <p>3. <span>Зимнє взуття</span></p>
            </div>
        </div>
        <div class="content_block">
            <p>Загальна кількість клієнтів які нам довіряють</p>
            <img class="img_content_3 img_content" src="img/human.png" alt="human_ico">
            <p>|</p>
            <p>20</p>
        </div>
        <div class="content_block">
            <p>Середня сума замовлень</p>
            <img class="img_content_4 img_content" src="img/touch.png" alt="touch_ico">
            <p class="">|</p>
            <p>5000 грн</p>
        </div>
    </div>
</body>
</html>
