@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        <li class="item"> 
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
         <li class="item button secondary"> 
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <li class="item button secondary"><a asp-area="Identity" asp-page="/Account/Login"class="btn">Log Out</a></li>
        </form>
        </li>
}
else
{
    <li class="item button secondary"> 
        <a class="btn" asp-area="Identity" asp-page="/Account/Login">Log In</a>
    </li>

    <li class="item button"> 
        <a class="btn" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
    </li>
}
